.html{
    height: 100%;
}

.body {
    background-color:#FF9D1D;
}

.frm-login{
    margin-top: 40px;
}

.logo {
    float: left;
}

.font-title {
    font-size: 140%;
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding-left: 5%;
}

.div-description {
    padding: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description-font {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.div-login{
    padding-left: 8%
}

.div-eid{
    width: 90% !important;
    margin-bottom: 0px;
    margin-top: 0px;
}

.div-password{
    width: 90% !important;
    margin-bottom:0px;
    margin-top: 25px;
}

.input-font {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 120% !important
}

.span-font {
    font-size: 110% !important; 
    font-family: 'Montserrat', sans-serif
}

.link-font {
    color: #232323; 
    font-size: 110%; 
    font-family: 'Montserrat', sans-serif;
}

.link-forgot-password {
    float: right;font-style: italic    
}

.btn-login {
    background-color: #232323; 
    width: 80%; 
    border-radius: 50px; 
    font-family: 'Montserrat', sans-serif
}

.frm-skills {
    display: flex;
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
}

.skill-font {
    color: #232323; 
	font-size: 130%; 
	font-family: 'Montserrat', sans-serif;
}

.div-skills {
    display: flex;
    width: 100%;
    height: 100%;
}

.loading {
    align-items: center;
    justify-content: center;
}

.modal-center {
    transform: translateY(100%) !important;
}

.modal-alert {
    padding-bottom: 0px !important;
    padding-bottom: 10px !important;
}

.nav {
    background-color: #232323 !important;
}

.nav-font {
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 110% !important;
    text-transform: uppercase;
}

.modal-title-font {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold
}

.modal-skill-font {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    font-weight: bold;
    padding-top: 10%
}

.modal-font {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}

.modal-user-skill {
    padding-left: 13%
}

.modal-footer-font {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.projects {
    text-align: center
}

.projects-input {
    font-family: 'Montserrat', sans-serif;
    height: 30px;
}

.modal-alert-description {
    text-align: center;
    margin-bottom: 0px
}

.modal-footer{
    height: 50px !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.modal-levels {
    padding-top:-10;
    margin-top: 0px;
    margin-bottom: 0px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.levels {
    background-color: red;
    margin-left:  50px;
    margin-right: 50px;
}

.input-projects {
    padding-top:-10;margin-top: 0px;margin-bottom: 0px;
}

.level-0 {
    background:url(../images/ic_level_0.png);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    width:  100%;
    height: 100%;
}

.level-1 {
    background:url(../images/ic_level_1.png);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    width:  100%;
    height: 100%;
}

.level-2 {
    background:url(../images/ic_level_2.png);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    width:  100%;
    height: 100%;
}

.level-3 {
    background:url(../images/ic_level_3.png);
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    width:  100%;
    height: 100%;
}

/* Label color
.input-field label {
    color: #000 !important;
} */

/* Label focus color */
.input-field input:focus + label {
    color: #000 !important;
}

/* Label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
