.body {
    background-color:#FF9D1D;
}

.titleFont {
    font-size: 140%;
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.descriptionFont {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 105%;
    text-align: center;
}

.linkFont {
    color: #232323; 
    font-size: 110%; 
    font-family: 'Montserrat', sans-serif;
}

.txtFont {
    color: #232323; 
	font-size: 130%; 
	font-family: 'Montserrat', sans-serif;
}

.nav {
    background-color: #232323 !important;
}

.navFont {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
}

.modalTitleFont {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold
}

.modalSkillFont {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
    font-weight: bold
}

.modalDescriptionFont {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.levels {
    background-color: red;
    margin-left:  50px;
    margin-right: 50px;
}

.level-0 {
    background:url(../images/ic_level_0.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
}

.level-1 {
    background:url(../images/ic_level_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
}

.level-2 {
    background:url(../images/ic_level_2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
}

.level-3 {
    background:url(../images/ic_level_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
}

/* Label color
.input-field label {
    color: #000 !important;
} */

/* Label focus color */
.input-field input:focus + label {
    color: #000 !important;
}

/* Label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
